/* Importerer fonts fra Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;900&display=swap');



/* Junus Sefa CSS */
html,body{
  width:100%;
  height: auto;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#303133;
}

a{text-decoration: none;color:#303133;transition: .15s;}
a:hover{color:red;}
h1{font-size: 3em;}
h2{font-size: 1.9em;font-weight: 500;font-family: 'Montserrat', sans-serif;}
.bold{font-weight: bold;}


@media screen and (max-width: 1000px) {
  .boks{
    padding: 90px 50px!important;
    text-align: center!important;
  }
  .galleri{
    display: flex!important;
    flex-direction: column!important;
  }
  .galleri .bilde{
    flex:100%!important;
  }
}

.boks{
  padding: 100px 150px;
  text-align: center;
}

.galleri{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleri .bilde{
  flex: 0 0 25%;
  padding-top:50px;
}
.galleri .bilde p{
  letter-spacing: .7px;
  line-height: 1.8;
  padding: 0 15px;
}
.galleri .bilde img{
  width: 100%;
  transition: .15s;
}
.galleri .bilde img:hover{
  transform: scale(1.1);
  cursor:cell;
}

/* Mostafa Hadad */
* {
  box-sizing: border-box;
}
#download{
    margin-top: 100px;
}
#app_headline{
    text-align: center;
}
.row_download{
    display: flex;
}
.column1_download{
    flex: 50%;

}
.column2_download{
    flex: 50%;
}
#app_store{
    width: 50%;
    margin-left: 300px;
    margin-top: 30px;
}
#google_play{
    width: 50%;
    margin-left: 100px;
    margin-top: 33px;
}
a img:hover{ 
    position: relative; 
    bottom: 5px;
} 
#footer{
    margin-top: 80px;
    background-color: #c6f5c7;
    color: black;
}
#footer_headline{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#mail{
    margin-left: 400px;
    margin-bottom: 
}
#mail_text{
    font-size: 22px;
    margin-left: 20px;
}
#row_footer{
    display: flex;
}
#coumn1_footer{

}
#column2_footer{

}
#column3_footer{

}
#instagram{
    margin-left: 30px;
    position: relative;
    bottom: 10px;
}
#facebook{
    margin-left: 80px;
    position: relative;
    bottom: 10px;
}
#instagram:hover{ 
    transform: translateY(-5px);
} 
#facebook:hover{ 
    transform: translateY(-5px);
} 
#line{
    border-top: 2px solid black;
    width: 90%;
    margin-top: 50px;
}
#footer_text{
    text-align: center;
    padding-bottom: 15px;
}