/* Importerer fonts fra Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;900&display=swap');



/* Junus Sefa CSS */
html,body{
  width:100%;
  height: auto;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#303133;
}

a{text-decoration: none;color:#303133;transition: .15s;}
a:hover{
  opacity: .5; text-decoration: none;}
h1{font-size: 3em;}
h2{font-size: 1.9em;font-weight: 500;font-family: 'Montserrat', sans-serif;}
.bold{font-weight: bold;}


@media screen and (max-width: 1100px){
  .galleri .bilde{
    flex:0 0 50%!important;
  }
}
@media screen and (max-width: 800px) {
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size:1.2em;
  }
  .boks{
    padding: 90px 10px!important;
    text-align: center!important;
  }
  .galleri{
    display: flex!important;
    flex-direction: column!important;
  }
  .galleri .bilde{
    flex:100%!important;
  }
  .galleri .bilde img{
    width:auto!important;
    max-width: 100%!important;
  }
}
@media screen and (min-width: 1000px) {
  .galleri .bilde img:hover{
    transform: scale(1.4);
    cursor:cell;
  }
}

.boks{
  padding: 100px 150px;
  text-align: center;
}

.galleri{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleri .bilde{
  flex: 0 0 25%;
  padding-top:50px;
}
.galleri .bilde p{
  letter-spacing: .7px;
  line-height: 1.8;
  padding: 0 15px;
}
.galleri .bilde img{
  width: 100%;
  transition: .15s;
}


/* Sigurd Skyrud CSS */


.big{
  font-size: 1.9em
}

.logonav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c7f6c9;
  padding: 3vh 3vw;
}
.topnav{
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
.topnav li{
  padding: 2vh 2vw;
  font-size: 1.5em;
}
.topnav li a:hover{
  color: darkblue;
  text-decoration: underline;
}
.logo-container{
  width: 15vw;
  height: 90%;
}
.logo-container img{
  width: 100%;
}
.overlay, .overlay-content, #hamburger{
  display: none;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #c7f6c9;
}
.banner img{
  width: 100%;
}
.problem-container{
  padding: 5vh;
}
.prob-header{
  margin: auto;
  text-align: center;
  width: 75%;
  font-size: 2em;
}
.prob-txt{
  margin: auto;
  width: 75%;
  font-size: 1.8em;
}

@media only screen and (max-width: 1000px){
  .big{
    font-size: 1.6em;
  }
  .logo-container{
    width: 20vh;
  }
  .problem-container{
    padding: 3vh 2vw;
  }
  .prob-header{
    font-size: 1.5em;
    width: 90%;
  }
  .prob-txt{
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }
  .banner img{
    width: 100%;
  }

  /* Hamburger Menu */

  ul li a{
    display: none;
  }
  #hamburger{
    display: flex;
    cursor: pointer;
  }
  #hamburger img{
    width: 5vw;
  }
  .logonav{
    width: 100%;
    position: fixed;
  }
  .banner{
    padding-top: 16vh;
  }
  .overlay, .overlay-content, #hamburger{
    display: block;
  }
  .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #c6f5c7;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus{
    color: darkblue;
    text-decoration: underline;
  }
  .overlay .closebtn{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
  }

}

@media only screen and (max-width: 900px){
  #hamburger img{
    width: 50px;
  }
}

/* Mostafa Hadad */
* {
  box-sizing: border-box;
}
#download{
    margin-top: 100px;
}
#app_headline{
    text-align: center;

}
.row_download{
    display: flex;
}
.column1_download{
    flex: 50%;

}
.column2_download{
    flex: 50%;
}
#app_store{
    width: 50%;
    margin-left: 250px;
    margin-top: 30px;
}
#google_play{
    width: 50%;
    margin-top: 30px;
    margin-left: 150px;
}
a img:hover{
    position: relative;
    bottom: 5px;
}
#footer{
    margin-top: 80px;
    background-color: #c6f5c7;
    color: black;
    height: 320px;
}
#footer_headline{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#mail{
    margin-left: 200px;
    margin-top: 6px;
}
#mail_text{
    font-size: 22px;
    margin-left: 20px;
}
#row_footer{
    display: flex;
}
.column_footer{
    display: 33%;
}
#instagram{
    margin-left: 30px;
}
#facebook{
    margin-left: 500px;
}
#instagram:hover{
    transform: translateY(-5px);
}
#facebook:hover{
    transform: translateY(-5px);
}
#line{
    border-top: 2px solid black;
    width: 90%;
    margin-top: 50px;
}
#footer_text{
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 22px;
}

@media screen and (max-width: 1450px) {
    #facebook{
        margin-left: 450px;
    }
}
@media screen and (max-width: 1400px) {
    #facebook{
        margin-left: 400px;
    }
}
@media screen and (max-width: 1350px) {
    #facebook{
        margin-left: 350px;
    }
}
@media screen and (max-width: 1300px) {
    #facebook{
        margin-left: 300px;
    }
    #app_store{
    margin-left: 150px;
}
}
@media screen and (max-width: 1250px) {
    #facebook{
        margin-left: 275px;
    }
        #app_store{
    margin-left: 100px;
}
    #mail{
        margin-left: 175px;
    }
}
@media screen and (max-width: 1200px) {
#facebook{
        margin-left: 250px;
    }
        #app_store{
    margin-left: 100px;
}
    #mail{
        margin-left: 150px;
    }
}
@media screen and (max-width: 1100px) {
    #mail{
        margin-left: 125px;
    }
    #facebook{
        margin-left: 225px;
    }
}
@media screen and (max-width: 1050px) {
    #mail{
        margin-left: 100px;
    }
    #facebook{
        margin-left: 200px;
    }
}
@media screen and (max-width: 950px) {
    #facebook{
        margin-left: 150px;
    }
}
@media screen and (max-width: 900px) {
    #mail{
        margin-left: 75px;
    }
        #facebook{
        margin-left: 125px;
    }

#google_play{
    margin-left: 100px;
}
    
}
@media screen and (max-width: 850px) {
    #mail{
        margin-left: 50px;
    }
        #app_store{
        width: 55%;
    }
    #google_play{
        width: 55%;
    }
}
@media screen and (max-width: 750px) {
    #row_footer{
        display: inline-block;
    }
    #app_store{
        width: 60%;
    }
    #google_play{
        width: 60%;
    }
    #mail{
        margin-left: 0px;
        margin-top: 0px;
    }
    #facebook{
        margin-left: 0px;
        margin-top: 40px;
    }
    #footer{
        height: 480px;
    }
    #footer_text{
        padding-left: 20px;
        padding-right: 20px;
    }
    #app_headline{
        padding-left: 30px;
        padding-right: 30px;
    }
    #mail_text{
        margin-left: 0px;
    }
}
@media screen and (max-width: 750px) {
    #footer{
        height: 500px;
    }

    
}
@media screen and (max-width: 700px) {
    #footer{
        height: 500px;
    }
    #google_play{
    margin-left: 50px;
}
    
}
@media screen and (max-width: 600px) {
    #footer{
        height: 500px;
    }
    #app_store{
    margin-left: 50px;
}
    
}
@media screen and (max-width: 500px) {
    #footer{
        height: 500px;
    }
    #app_store{
    margin-left: 50px;
    width: 70%;
}
    #google_play{
        width: 70%;
        margin-left: 30px;
    }
    
}
@media screen and (max-width: 400px) {

    #app_store{
        width: 80%;
    margin-left: 30px;
}
        #google_play{
        width: 80%;
        margin-left: 10px;
    }
}



/*Marko Spyros*/

.container_om_oss{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
  background: #c6f5c7;
  flex-flow: wrap;
  justify-content: space-around;
}

.information_box{
  box-sizing: border-box;
  margin: 30px;
  width: 350px;
  height: auto;
}

.bilder{
  margin: auto;
  display: block;
}

.box_title{
  text-align:center;
  font-size: 10px;
}

.box_text{
  text-align:center;
  font-size: 20px;
  width: 330px;
  margin: auto;
  display: block;
}


@media screen and (min-width:1126px){
  .information_box{
    width: 40%;
  }
}

@media screen and (max-width:320px){
  .bilder{
    width: 80px;
  }

  .box_title{
    font-size: 8px;
  }

  .box_text{
    font-size: 15px;
    width: 180px;
  }
}
