/* Importerer fonts fra Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;900&display=swap');



/* Junus Sefa CSS */
html,body{
  width:100%;
  height: auto;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#303133;
}

a{text-decoration: none;color:#303133;transition: .15s;}
a:hover{color: darkblue; text-decoration: underline;}
h1{font-size: 3em;}
h2{font-size: 1.9em;font-weight: 500;font-family: 'Montserrat', sans-serif;}
.bold{font-weight: bold;}


@media screen and (max-width: 1000px) {
  .boks{
    padding: 90px 50px!important;
    text-align: center!important;
  }
  .galleri{
    display: flex!important;
    flex-direction: column!important;
  }
  .galleri .bilde{
    flex:100%!important;
  }
}

.boks{
  padding: 100px 150px;
  text-align: center;
}

.galleri{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleri .bilde{
  flex: 0 0 25%;
  padding-top:50px;
}
.galleri .bilde p{
  letter-spacing: .7px;
  line-height: 1.8;
  padding: 0 15px;
}
.galleri .bilde img{
  width: 100%;
  transition: .15s;
}
.galleri .bilde img:hover{
  transform: scale(1.1);
  cursor:cell;
}


/* Sigurd Skyrud CSS */


.big{
  font-size: 1.9em
}

.logonav{
  width: 100%;
  height: 18vh;
}
.fixed-header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c7f6c9;
  padding: 3vh 3vw;
}
.topnav{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.topnav li{
  padding: 2vh 2vw;
  font-size: 1.5em;
}
.logo-container{
  width: 20vw;
  height: 90%;
}
.logo-container img{
  width: 100%;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.problem-container{
  background-color: #c7f6c9;
  padding: 5vh;
}
.prob-header{
  margin: auto;
  text-align: center;
  width: 60%;
  font-size: 2em;
}
.prob-txt{
  width: 60%;
  margin: auto;
  font-size: 1.4em;
}

@media only screen and (max-width: 1000px){
  .big{
    font-size: 1.6em;
  }
  .problem-container{
    padding: 3vh 2vw;
  }
  .prob-header{
    font-size: 1.5em;
    width: 90%;
  }
  .prob-txt{
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }
  .banner img{
    width: 100%;
  }
}